#info_new_ul li {
    float:left;
    margin-left: 3%;
    padding: 5px;
    color: #fff;
    font-family: trebuchet ms;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
    word-wrap:break-word;
    margin-top: -1%
}